<%- include("./partials/header") %>

<div class="container-sm main-container">
    <h1>Notes Application</h1>
    <a href="/addnote" class="btn btn-lg btn-success">Add new note</a>
    <div class="notes-container">
        <% notes.forEach(note => { %>
            <div class="note">
                <h1><%= note.title %></h1>
                <p>
                    <% if(note.body.length <= 70) { %> <%= note.body%> <% }
                    else { %> <%= note.body.substring(0, 70)+"..." %> <% } %> 
                </p>
                <a href="/viewnote/<%= note._id %>" class="btn btn-md btn-primary">View\Edit</a>
            </div>
        <% }) %>
    </div>
</div>

<%- include("./partials/footer") %>